.gitignore
.DS_Store
.idea/.gitignore
.idea/dockerfile.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json

argo/argo-workflow/
argo/cube-studio/

cubefs/err
cubefs/cubefs-img-files/

conda/Miniconda3-latest-Linux-x86_64.sh

dophinsch/apache-dolphinscheduler-3.1.3-src/
dolphinsch/apache-dolphinscheduler-3.1.3-src/
dolphinsch/apache-dolphinscheduler-3.1.3-src.tar.gz

doris/apache-doris-1.2.1-src/
doris/dataease-helm/
doris/k8s-doris-orig/
doris/tmp/
doris/.docker_temp_514005005
doris/apache-doris-1.2.1-src.tar.xz
doris/apache-doris-1.2.2-src.tar.gz
doris/StarRocks-2.5.2.tar.gz
doris/apache-doris-1.2.2-src/
doris/apache-doris-be-1.2.2-bin-x86_64.tar.xz
doris/apache-doris-dependencies-1.2.1-bin-x86_64.tar.xz
doris/apache-doris-dependencies-1.2.2-bin-x86_64.tar.xz
doris/apache-doris-fe-1.2.2-bin-x86_64.tar.xz
doris/starrocks-kubernetes-operator-1.3.tar.gz
doris/doris-1.2.2-rc01.tar.gz
doris/doris-pv-template-broker.yaml
doris/starrocks-fe-and-be-and-cn-with-autoscaler.yaml.bk
doris/be.WARNING
doris/fe.out
doris/fe.warn.log
doris/wait-es.sh
doris/starrocks-src/
doris/starrocks-kubernetes-operator-1.3/
doris/starrocks-fe-and-be-and-cn-with-autoscaler.yaml.bk
doris/starrocks-kubernetes-operator-1.3.tar.gz
doris/hudibk
doris/starrocks-2.5.3
doris/starrocks-3.0.0-avro
doris/starrocks-3.0.0-avro.tar.gz
doris/starrocks-2.5.3.tar.gz
doris/cni-plugins-linux-amd64-v1.2.0.tgz
doris/starrocks-3.0.0-avro.tgz

flink/starrocks-connector-for-apache-flink/
flink/starrocks-connector-for-apache-flink-1.2.5/
flink/flink-kubernetes-operator-release-1.4.0/
flink/flink-kubernetes-operator-release-1.3.1/
flink/dinky-0.7.2/
flink/dlink-release-0.7.2/
flink/flink-1.15.4-hadoop2hive2/
flink/flink-1.15.4-hadoop3hive3/
flink/flink-1.17.0-hadoop3hive3/
flink/flink-release-1.15.4-hadoop2hive2/
flink/flink-release-1.15.4-hadoop3hive3/
flink/flink-release-1.17.0-hadoop3hive3/
flink/flinkbk/
flink/hadoop-2.10.2/
flink/hadoop-3.1.1/
flink/hadoop-3.3.4/
flink/hudibk/
flink/starrocks-connector-for-apache-flink/
flink/starrocks-connector-for-apache-flink-1.2.5/
flink/tmp/
flink/antlr-runtime-3.5.2.jar
flink/calcite-core-1.14.0.jar
flink/dinky-0.7.2.tar.gz
flink/dlink-release-0.7.2.tar.gz
flink/flink-juicefs-1.14.6.tar
flink/flink-kubernetes-operator-release-1.3.1.tar.gz
flink/flink-kubernetes-operator-release-1.4.0.tar.gz
flink/flink-kubernetes-operator.tar.gz
flink/flink-kubernetes-standalone-1.3.1-shaded.jar
flink/flink-release-1.15.3.zip
flink/flink-release-1.15.4.tar.gz
flink/flink-shaded-hadoop-3-3.1.1.7.2.9.0-173-9.0.jar
flink/flink-sql-connector-mysql-cdc-2.3.0.jar
flink/hive-exec-2.3.6.jar
flink/hive-exec-2.3.9.jar
flink/hive-exec-3.1.2.jar
flink/htrace-core4-4.1.0-incubating.jar
flink/hudi-flink1.15-bundle-0.12.2.jar
flink/hudi-hive-sync-bundle-0.12.2.jar
flink/juicefs-hadoop-1.0.2-jdk11-ubuntu22.04.jar
flink/juicefs-hadoop-1.0.2.jar
flink/libfb303-0.9.3.jar
flink/starrocks-connector-for-apache-flink-1.2.5.tar.gz
flink/conf/
flink/apache-streampark_2.12-2.0.0-incubating-bin
flink/apache-streampark-2.0.0-incubating-src
flink/hudi-release-0.12.2-hadoop3hive3

hadoop/hive/image/apache-hive-3.1.2-bin.tar.gz
hadoop/hive/image/database-tools-1.0.jar
hadoop/hive/image/mysql-connector-j-8.0.32.jar
hadoop/hive/image/mysql-connector-java-5.1.47.tar.gz
hadoop/hadoop-2.10.2.tar.gz
hadoop/hadoop-3.1.1.tar.gz
hadoop/hadoop-3.2.1-src.tar.gz
hadoop/hadoop-3.2.1.tar.gz
hadoop/hadoop-3.3.4-src.tar.gz
hadoop/hadoop-3.3.4.tar.gz
hadoop/sources-16.04.list
hadoop/helm-hadoop-3-templates-distfs/files
hadoop/hive/image/hudi
hadoop/hive/image/mysql-connector-java-5.1.47

harbor/harbor-offline-installer-v2.1.2.tgz
harbor/harbor-offline-installer-v2.6.2.tgz
harbor/harbor/common/config

hudi/hudi-release-0.12.0
hudi/hudi-release-0.12.2-hadoop2hive2
hudi/hudi-release-0.13.0
hudi/hudi-release-0.12.0.tar.gz
hudi/hudi-release-0.12.2.tar.gz
hudi/hudi-release-0.13.0.tar.gz

image/apache-maven-3.8.6
image/fuse-2.9.2.tar.gz
image/fuse-3.12.0.tar.xz
image/go1.19.2.linux-amd64.tar.gz
image/jdk-17_linux-x64_bin.tar.gz
image/openssl-1.1.1s.tar.gz

juicefs/juicefs-1.0.2
juicefs/juicefs-1.0.3
juicefs/juicefs-csi-driver-0.17.4
juicefs/juicefs-csi-driver-0.17.5
juicefs/juicefs-hadoop-1.0.2-jar
juicefs/mac
juicefs/csi-doctor.sh
juicefs/juicefs
juicefs/juicefs-1.0.2-linux-amd64.tar.gz
juicefs/juicefs-1.0.2.tar.gz
juicefs/juicefs-1.0.3.tar.gz
juicefs/juicefs-csi-driver
juicefs/juicefs-csi-driver-0.17.4.tar.gz
juicefs/juicefs-csi-driver-0.17.5.tar.gz
juicefs/juicefs-hadoop-1.0.2-jdk11-centos7.jar
juicefs/juicefs-hadoop-1.0.2-jdk11-debian11.jar
juicefs/juicefs-hadoop-1.0.2-jdk11-ubuntu22.jar
juicefs/juicefs-hadoop-1.0.2-jdk17-ubuntu22.jar
juicefs/juicefs-hadoop-1.0.2.jar
juicefs/juicefs-hadoop-1.0.3-jdk8-ubuntu22.jar
juicefs/juicefs-hadoop-1.0.3-jdk11-centos7.jar
juicefs/juicefs-hadoop-1.0.3-jdk11-ubuntu20.jar
juicefs/juicefs-hadoop-1.0.3-jdk11-ubuntu22.jar
juicefs/juicefs-hadoop-1.0.3.jar
juicefs/LICENSE
juicefs/mc
juicefs/minio
juicefs/README_CN.md
juicefs/README.md

ingestion/apache-seatunnel-incubating-2.3.0
ingestion/apache-seatunnel-incubating-2.3.0-bin.tar.gz

kubeflow/manifests
kubeflow/manifests-1.6.1

kubeflow/v1.6.1.tar.gz

nvidia/cudnn-8.1.0
nvidia/cudnn-8.1.1
nvidia/cuda_11.2.2_460.32.03_linux.run
nvidia/e1000e-3.8.4.tar.gz
nvidia/NVIDIA-Linux-x86_64-515.57.run
nvidia/NVIDIA-Linux-x86_64-515.76.run
nvidia/Release_27_7.zip

presto/hudibk
presto/presto-cluster-main
presto/presto-cluster-main.zip
presto/presto-0.279.tar.gz
presto/presto-kube/
presto/presto-official_helm_chart
presto/presto-official_helm_chart.zip
presto/trino-0.9.0
presto/trino-0.9.0.tgz
presto/trino-406
presto/trino-406.zip

python3/Python-3.7.4.tar.xz

redis/redis
redis/redis-ha-azure-stable
redis/redis-ha-stable
redis/redis-17.6.0.tgz

spark/apache-kyuubi-1.6.1-incubating-bin/
spark/apache-kyuubi-1.7.0-bin/
spark/demo-master/
spark/doris-spark-connector-master/
spark/hudi-release-0.12.0/
spark/hudi-release-0.12.2/
spark/hudi-release-0.13.0/
spark/incubator-celeborn/
spark/incubator-celeborn-0.2.0-incubating-rc3/
spark/starrocks-connector-for-apache-spark-main/
spark/volcano-1.7.0/
spark/zookeeper/
spark/spark-3.3.1/
spark/volcano-1.7.0/
spark/spark-sql-cluster-mode/
spark/spark-2.4.5/
spark/incubator-celeborn/
spark/apache-kyuubi-1.6.1-incubating-bin.tgz
spark/apache-kyuubi-1.7.0-bin.tgz
spark/celeborn-client-spark-3-shaded_2.12-0.2.0-incubating.jar
spark/core-site.xml
spark/demo-master
spark/demo-master.zip
spark/doris-spark-connector-master.zip
spark/entrypoint.sh.bk
spark/envsubst
spark/incubator-celeborn-0.1.4.tar.gz
spark/incubator-celeborn-0.2.0-incubating-rc3.tar.gz
spark/juicefs-hadoop-1.0.2.jar
spark/juicefs-hadoop-1.0.3.jar
spark/KEYS
spark/kyuubi-1.6.1-incubating.tar.gz
spark/sources.list
spark/spark-3.3.1-bin-volcano-rss.tgz
spark/spark-client.yaml
spark/spark-query.csv
spark/starrocks-connector-for-apache-spark-main.zip
spark/zookeeper-11.1.2.tgz
spark/sparksrv/sparklogs/
spark/hudibk
spark/doris-spark-connector-master