/spark/spark-3.3.1/
/spark/volcano-1.7.0/
/spark/spark-sql-cluster-mode/
/spark/spark-2.4.5/
/spark/incubator-celeborn/
/argo/argo-workflow/
/argo/cube-studio/
/dophinsch/apache-dolphinscheduler-3.1.3-src/
/dolphinsch/apache-dolphinscheduler-3.1.3-src/
/doris/apache-doris-1.2.1-src/
/doris/dataease-helm/
/doris/k8s-doris-orig/
/presto/presto-kube/
/flink/starrocks-connector-for-apache-flink/
/flink/starrocks-connector-for-apache-flink-1.2.5/
/flink/flink-kubernetes-operator-release-1.4.0/
/flink/flink-kubernetes-operator-release-1.3.1/
/spark/apache-kyuubi-1.6.1-incubating-bin/
/spark/apache-kyuubi-1.7.0-bin/
/spark/demo-master/
/spark/doris-spark-connector-master/
/spark/hudi-release-0.12.0/
/spark/hudi-release-0.12.2/
/spark/hudi-release-0.13.0/
/spark/incubator-celeborn/
/spark/incubator-celeborn-0.2.0-incubating-rc3/
/spark/starrocks-connector-for-apache-spark-main/
/spark/volcano-1.7.0/
/spark/zookeeper/
